<tr>
    <td class="{{diffParser.LINE_TYPE.INFO}}">
        <div class="{{contentClass}} {{diffParser.LINE_TYPE.INFO}}">
            {{#emptyTips}}{{{emptyTips}}}{{/emptyTips}}
            {{^emptyTips}}File without changes{{/emptyTips}}
        </div>
    </td>
</tr>
